[Unit]
Description=STORM Inside Client (Auto Resolver Selection)
After=network-online.target storm-resolver-scanner.service storm-resolver-daemon.service
Wants=network-online.target storm-resolver-scanner.service storm-resolver-daemon.service

[Service]
Type=simple
WorkingDirectory=/opt/nexora-storm
Environment=STORM_ZONE=t1.phonexpress.ir
Environment=STORM_BOOTSTRAP_ALLOW_FALLBACK=0
Environment=STORM_PICKER_SAMPLE_MODE=random
Environment=STORM_RESOLVER_MAX_PROBE=300
Environment=STORM_RESOLVER_CONCURRENCY=60
ExecStart=/opt/nexora-storm/run_storm_client_auto.sh
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
